body {
  background-color: #f6f7f9 !important;
}

.accordion > .card:not(:last-of-type) {
  border-bottom: 2px !important;
}

header {
  transition: background 0.35s ease-in-out;
}

[class*=" w-"] {
  flex: none;
}

.btn.is-primary {
  @apply bg-primary text-white py-2 px-6;

  &:hover {
    @apply text-white hover:bg-primary-light hover:border-primary-light;
  }

  &:focus {
    @apply focus:ring-4 ring-primary-light;
  }

  &:active {
    @apply active:bg-primary-dark;
  }

  &.btn-lg {
    @apply py-3 px-10;
  }

  &.is-expanded {
    @apply px-16;
  }
}

.form-control {
  padding: 8px 18px;

  background: #f2f4f8;
  border: 1px solid #f2f4f8;
  color: #fff;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #878787;
    font-size: 10px !important;
    opacity: 1; /* Firefox */

    font-size: 12px;
    /* font-family: Montserrat-Medium; */
  }
}

@keyframes upanddown {
  from {
    transform: translate(50%, 25%);
  }
  to {
    transform: translate(50%, -25%);
  }
}

.work-transition {
  animation: upanddown 4s ease-in-out alternate both infinite;
}

@keyframes test {
  from {
    transform: translate(8.117px, 69.798px);
  }
  to {
    transform: translate(152.873px, 237.192px);
  }
}

.arrow-transition {
  position: relative;
  display: inline-block;
  animation: test 4s ease-in-out alternate both infinite;
}

.arrow-transition-2 {
  animation-direction: alternate-reverse;
}

@keyframes test {
  from {
    transform: translate(8.117px, 69.798px);
  }
  to {
    transform: translate(152.873px, 237.192px);
  }
}

.animate-spin.spin-fan {
  animation-duration: 60s !important;
}
