@tailwind base;
@import "./style.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap");

@font-face {
  font-family: Montserrat-regular;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: Montserrat-bold;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Montserrat-Medium;
  src: url(./assets/fonts/Montserrat-Medium.ttf);
  font-weight: normal;
}

@import "bootstrap/dist/css/bootstrap.min.css";

@import "./App.scss";

@tailwind components;
@tailwind utilities;
